/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
/*font-family: "Inspiration", system-ui;*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: "Poppins", system-ui;
}
html{
	font-size:22px;
}
body{
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:linear-gradient(#0fafff,#0fafff);
	background-image:url('newyear_bg.jpeg');
	color:#fff;
	background-size:cover;
	backdrop-filter:blur(0.5px);
}
p{
	font-size:1.2rem;
}
.newyear{
	font-family: "Inspiration", system-ui;
	margin-top:1rem;
	font-size:4.5rem;
	font-weight:800;
	letter-spacing:0.3rem;
	animation:textanim 0.3s ease-in-out 10000;
}
@keyframes textanim{
		0%,10%,20%,32%,45%,55%,64%,73%,80%,93%{
			color:#fff;
		}
		
		10%,20%,35%,43%,56%,64%,70%,86%,96%,100%{
			text-shadow:0 0 5px #37edf0,
			0 0 20px #37edf0,
			0 0 25px #37edf0,
			0 0 35px #37edf0;
		}
	}
.counter{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	margin:0.5rem;
	
}
.box{
	margin:1rem;
}
.box h2{
	font-size:2rem;
}
.box small{
	font-size:0.7rem;
}









@media(max-width:730px){
	html{
		font-size:18px;
	}
	p{
		font-size:1.2rem;
	}
	.box{
		margin:0.8rem;
	}
	.box h2{
		font-size:1.7rem;
	}
	.box small{
		font-size:0.8rem;
	}
}
@media(max-width:520px){
	html{
		font-size:12px;
	}
	body{
		backdrop-filter:blur(0);
		background-position:top;
	}
	p{
		font-size:1.2rem;
	}
	.newyear{
		/*text-shadow:0 0 10px rgb(39, 204, 201,50);*/
		font-size:5rem;
		letter-spacing:0.1rem;
		animation:anim 0.3s ease-in-out 10000;
	}
	@keyframes anim{
		0%{
			color:#faf;
		}
		
		100%{
			text-shadow:0 0 10px blue,
			0 0 20px rgb(13, 191, 43,50),
			0 0 30px blue;
		}
	}
}
